
  .background-container-landing {
    height: 100vh; 
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: scroll; /* Enable horizontal scrolling */
    overflow-y: hidden;
    background-color: #2E2E2E;
  }

  /* background-image: url('../../public/img/landing-bg.png'); */
