.parent {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin-top: 10vh;
  }
  
.parent[data-isOpen="true"] {
width: 80vw;
height: 80vh;
}

.child {

}

.child-open {
width: 80vw;
height: 80vh;
}